<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quitance</title>
	</head>
	<style>
		* {
			box-sizing: border-box;
		}
		html,
		body {
			margin: 0;
		}
		body {
			background: #ccc;
		}
		.paper {
			width: 21cm;
			height: 27.9cm;
			margin: auto;
			background-color: white;
		}
		.container {
			height: 100%;
			padding: 20px;
		}
		.row {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			gap: 16px;
			height: inherit;
		}
		.card {
			border: 1px solid #ccc;
			height: 100%;
		}
	</style>
	<body>
		<div class="paper">
			<div class="container">
				<div class="row">
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="paper">
			<div class="container">
				<div class="row">
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="paper">
			<div class="container">
				<div class="row">
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
					<div class="card">
						<h3 class="title">MEGA FINANCIAL OPPORTUNITY</h3>

						<div class="content">
							<p>
								Effectue par : ...............................
							</p>
							<p>
								Tutulaire du compte : ........................
							</p>
							<p>
								Numero du compte : ...........................
							</p>
							<p>
								Montant : ....................................
							</p>
							<p>
								..............................................
							</p>
							<p>
								Motif : ......................................
							</p>
							<p>Date et signature (s) :</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
